<!doctype html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>impress</title>
    <meta name="description" content="impress.js is a presentation tool based on the power of CSS3 transforms and transitions in modern browsers and inspired by the idea behind prezi.com." />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
    <link href="bower_components/impress.js/css/impress-demo.css" rel="stylesheet" />
    <link href="css/impressConsole.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
</head>

<body ng-controller="controller">
    <div id="impress" class="steps">
        <div id="title" class="step" data-x="0" data-y="0" data-scale="4">
            <span class="try">explore effect of</span>
            <h1>impress.js<sup>*</sup></h1>
            <span class="footnote"><sup>*</sup> by mix transform</span>
        </div>
        <div class="step" 
          data-x="{{location.x}}" 
          data-y="{{location.y}}" 
          data-z="{{location.z}}" 
          data-rotate-x="{{location.rotateX}}"
          data-rotate-y="{{location.rotateY}}"
          data-rotate-z="{{location.rotateZ}}"
          data-scale="{{location.scale}}" 
          ng-repeat="location in locations1" on-finish-render="ngRepeatFinished">
            <h1 ng-repeat="action in location.actions"> {{action}}</h1>
        </div>

    </div>
    <div class="hint">
        <p>Use a spacebar or arrow keys to navigate</p>
    </div>
    <script>
    if ("ontouchstart" in document.documentElement) {
        document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
    }
    </script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <!-- // <script src="bower_components/handlebars/handlebars.js"></script> -->
    <script src="bower_components/impress.js/js/impress.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    
</body>

</html>
