<html lang="en" ng-app="app" class="ng-scope" style="height: 100%;">

<head>
    <style type="text/css">
    @charset "UTF-8";
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak,
    .ng-hide:not(.ng-hide-animate) {
        display: none !important;
    }
    
    ng\:form {
        display: block;
    }
    
    .ng-animate-shim {
        visibility: hidden;
    }
    
    .ng-anchor {
        position: absolute;
    }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>impress</title>
    <meta name="description" content="impress.js is a presentation tool based on the power of CSS3 transforms and transitions in modern browsers and inspired by the idea behind prezi.com.">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet">
    <link href="bower_components/impress.js/css/impress-demo.css" rel="stylesheet">
    <link href="css/impressConsole.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.png">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
</head>

<body ng-controller="controller" class="impress-supported ng-scope impress-enabled impress-on-title" style="height: 100%; overflow: hidden;">
    <div id="impress" class="steps" style="position: absolute; transform-origin: left top 0px; transition: all 500ms ease-in-out 250ms; -webkit-transition: all 500ms ease-in-out 250ms; transform-style: preserve-3d; top: 50%; left: 50%; transform: perspective(6620.68965517241px) scale(0.151041666666667);">
        <div style="position: absolute; transform-origin: left top 0px; transition: all 500ms ease-in-out 0ms; -webkit-transition: all 500ms ease-in-out 0ms; transform-style: preserve-3d; transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg) translate3d(0px, 0px, 0px);">
            <div id="title" class="step present active" data-x="0" data-y="0" data-scale="4" style="position: absolute; transform: translate(-50%, -50%) translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(4); transform-style: preserve-3d;">
                <span class="try">explore effect of</span>
                <h1>impress.js<sup>*</sup></h1>
                <span class="footnote"><sup>*</sup> by mix transform</span>
            </div>
            <!-- ngRepeat: location in locations1 -->
            <div class="step ng-scope future" data-x="0" data-y="0" data-z="0" data-rotate-x="0" data-rotate-y="0" data-rotate-z="90" data-scale="4" ng-repeat="location in locations1" on-finish-render="ngRepeatFinished" id="step-2" style="position: absolute; transform: translate(-50%, -50%) translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(90deg) scale(4); transform-style: preserve-3d;">
                <!-- ngRepeat: action in location.actions -->
            </div>
            <!-- end ngRepeat: location in locations1 -->
            <div class="step ng-scope future" data-x="0" data-y="0" data-z="0" data-rotate-x="-90" data-rotate-y="0" data-rotate-z="90" data-scale="4" ng-repeat="location in locations1" on-finish-render="ngRepeatFinished" id="step-3" style="position: absolute; transform: translate(-50%, -50%) translate3d(0px, 0px, 0px) rotateX(-90deg) rotateY(0deg) rotateZ(90deg) scale(4); transform-style: preserve-3d;">
                <!-- ngRepeat: action in location.actions -->
            </div>
            <!-- end ngRepeat: location in locations1 -->
            <div class="step ng-scope future" data-x="0" data-y="0" data-z="0" data-rotate-x="-90" data-rotate-y="0" data-rotate-z="90" data-scale="1" ng-repeat="location in locations1" on-finish-render="ngRepeatFinished" id="step-4" style="position: absolute; transform: translate(-50%, -50%) translate3d(0px, 0px, 0px) rotateX(-90deg) rotateY(0deg) rotateZ(90deg) scale(1); transform-style: preserve-3d;">
                <!-- ngRepeat: action in location.actions -->
            </div>
            <!-- end ngRepeat: location in locations1 -->
            <div class="step ng-scope future" data-x="0" data-y="0" data-z="8000" data-rotate-x="-90" data-rotate-y="0" data-rotate-z="90" data-scale="1" ng-repeat="location in locations1" on-finish-render="ngRepeatFinished" id="step-5" style="position: absolute; transform: translate(-50%, -50%) translate3d(0px, 0px, 8000px) rotateX(-90deg) rotateY(0deg) rotateZ(90deg) scale(1); transform-style: preserve-3d;">
                <!-- ngRepeat: action in location.actions -->
            </div>
            <!-- end ngRepeat: location in locations1 -->
            <div class="step ng-scope future" data-x="0" data-y="0" data-z="8000" data-rotate-x="-90" data-rotate-y="0" data-rotate-z="90" data-scale="4" ng-repeat="location in locations1" on-finish-render="ngRepeatFinished" id="step-6" style="position: absolute; transform: translate(-50%, -50%) translate3d(0px, 0px, 8000px) rotateX(-90deg) rotateY(0deg) rotateZ(90deg) scale(4); transform-style: preserve-3d;">
                <!-- ngRepeat: action in location.actions -->
            </div>
            <!-- end ngRepeat: location in locations1 -->
            <div class="step ng-scope future" data-x="0" data-y="0" data-z="8000" data-rotate-x="-90" data-rotate-y="-90" data-rotate-z="90" data-scale="4" ng-repeat="location in locations1" on-finish-render="ngRepeatFinished" id="step-7" style="position: absolute; transform: translate(-50%, -50%) translate3d(0px, 0px, 8000px) rotateX(-90deg) rotateY(-90deg) rotateZ(90deg) scale(4); transform-style: preserve-3d;">
                <!-- ngRepeat: action in location.actions -->
            </div>
            <!-- end ngRepeat: location in locations1 -->
            <div class="step ng-scope future" data-x="0" data-y="0" data-z="8000" data-rotate-x="90" data-rotate-y="-90" data-rotate-z="90" data-scale="4" ng-repeat="location in locations1" on-finish-render="ngRepeatFinished" id="step-8" style="position: absolute; transform: translate(-50%, -50%) translate3d(0px, 0px, 8000px) rotateX(90deg) rotateY(-90deg) rotateZ(90deg) scale(4); transform-style: preserve-3d;">
                <!-- ngRepeat: action in location.actions -->
            </div>
            <!-- end ngRepeat: location in locations1 -->
            <div class="step ng-scope future" data-x="4000" data-y="0" data-z="8000" data-rotate-x="90" data-rotate-y="-90" data-rotate-z="90" data-scale="4" ng-repeat="location in locations1" on-finish-render="ngRepeatFinished" id="step-9" style="position: absolute; transform: translate(-50%, -50%) translate3d(4000px, 0px, 8000px) rotateX(90deg) rotateY(-90deg) rotateZ(90deg) scale(4); transform-style: preserve-3d;">
                <!-- ngRepeat: action in location.actions -->
            </div>
            <!-- end ngRepeat: location in locations1 -->
            <div class="step ng-scope future" data-x="4000" data-y="0" data-z="8000" data-rotate-x="90" data-rotate-y="90" data-rotate-z="90" data-scale="4" ng-repeat="location in locations1" on-finish-render="ngRepeatFinished" id="step-10" style="position: absolute; transform: translate(-50%, -50%) translate3d(4000px, 0px, 8000px) rotateX(90deg) rotateY(90deg) rotateZ(90deg) scale(4); transform-style: preserve-3d;">
                <!-- ngRepeat: action in location.actions -->
            </div>
            <!-- end ngRepeat: location in locations1 -->
            <div class="step ng-scope future" data-x="4000" data-y="4000" data-z="8000" data-rotate-x="90" data-rotate-y="90" data-rotate-z="90" data-scale="4" ng-repeat="location in locations1" on-finish-render="ngRepeatFinished" id="step-11" style="position: absolute; transform: translate(-50%, -50%) translate3d(4000px, 4000px, 8000px) rotateX(90deg) rotateY(90deg) rotateZ(90deg) scale(4); transform-style: preserve-3d;">
                <!-- ngRepeat: action in location.actions -->
            </div>
            <!-- end ngRepeat: location in locations1 -->
            <div class="step ng-scope future" data-x="4000" data-y="4000" data-z="8000" data-rotate-x="90" data-rotate-y="90" data-rotate-z="-90" data-scale="4" ng-repeat="location in locations1" on-finish-render="ngRepeatFinished" id="step-12" style="position: absolute; transform: translate(-50%, -50%) translate3d(4000px, 4000px, 8000px) rotateX(90deg) rotateY(90deg) rotateZ(-90deg) scale(4); transform-style: preserve-3d;">
                <!-- ngRepeat: action in location.actions -->
            </div>
            <!-- end ngRepeat: location in locations1 -->
            <div class="step ng-scope future" data-x="0" data-y="4000" data-z="8000" data-rotate-x="90" data-rotate-y="90" data-rotate-z="-90" data-scale="4" ng-repeat="location in locations1" on-finish-render="ngRepeatFinished" id="step-13" style="position: absolute; transform: translate(-50%, -50%) translate3d(0px, 4000px, 8000px) rotateX(90deg) rotateY(90deg) rotateZ(-90deg) scale(4); transform-style: preserve-3d;">
                <!-- ngRepeat: action in location.actions -->
            </div>
            <!-- end ngRepeat: location in locations1 -->
            <div class="step ng-scope future" data-x="0" data-y="0" data-z="8000" data-rotate-x="90" data-rotate-y="90" data-rotate-z="-90" data-scale="4" ng-repeat="location in locations1" on-finish-render="ngRepeatFinished" id="step-14" style="position: absolute; transform: translate(-50%, -50%) translate3d(0px, 0px, 8000px) rotateX(90deg) rotateY(90deg) rotateZ(-90deg) scale(4); transform-style: preserve-3d;">
                <!-- ngRepeat: action in location.actions -->
            </div>
            <!-- end ngRepeat: location in locations1 -->
            <div class="step ng-scope future" data-x="0" data-y="0" data-z="0" data-rotate-x="90" data-rotate-y="90" data-rotate-z="-90" data-scale="4" ng-repeat="location in locations1" on-finish-render="ngRepeatFinished" id="step-15" style="position: absolute; transform: translate(-50%, -50%) translate3d(0px, 0px, 0px) rotateX(90deg) rotateY(90deg) rotateZ(-90deg) scale(4); transform-style: preserve-3d;">
                <!-- ngRepeat: action in location.actions -->
            </div>
            <!-- end ngRepeat: location in locations1 -->
        </div>
    </div>
    <div class="hint">
        <p>Tap on the left or right to navigate</p>
    </div>
    <script>
    if ("ontouchstart" in document.documentElement) {
        document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
    }
    </script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <!-- // <script src="bower_components/handlebars/handlebars.js"></script> -->
    <script src="bower_components/impress.js/js/impress.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <!-- livereload script -->
    <script type="text/javascript">
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
    </script>
    <script src="http://localhost:35729/livereload.js?snipver=1" type="text/javascript"></script>
</body>

</html>
